/* Updated color palette for a modern, vibrant design */
:root {
  --primary-color: #ff6f61; /* Coral */
  --secondary-color: #32cd32; /* Lime Green */
  --accent-color: #88b04b; /* Green */
  --background-color: #f7f7f7;
  --background-soft: #ffffff;
  --text-color: #333333;
  --text-muted: #777777;
  --border-color: #e0e0e0;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  transition: color 0.3s, background-color 0.3s;
  line-height: 1.6;
  font-family: var(--font-primary), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
